* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h2 {
    text-align: center;
}

#enterDetails,
#findDetails {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
}

#enterDetails {
    background-color: darkslategray;
    color: floralwhite;
}

#findDetails {
    background-color: floralwhite;
    color: darkslategray;
}

#enterDetails > *,
#findDetails > * {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}

form {
    margin-top: 48px;
    margin-bottom: 48px;
}

form div {
    margin: 16px 0;
}

label {
    display: inline-block;
    width: 50px;
}

input {
    height: 24px;
    width: 200px;
    padding: 0 8px;
}

button {
    width: 100px;
    height: 24px;
    margin: 0 8px;
}

#findDetails div:last-child {
    margin-top: 48px;
}